body {
  padding-top: 54px;
}
.lead{
  padding-top: 20px;
}

.thumbnails{
  padding: 20px;
  grid-row: 1 / span 4;
  padding-bottom: 80px;
}


.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row{
    padding-left: 10px;
    padding-top: 20px;
    display: table;
}
.buttons{
  padding: 20px;
  float: right
}

.username{
  padding: 20px;
}
